.favorite-movies-page {
    padding: 20px;
    background-color: #141414;
    color: white;
    text-align: center;
  }
  
  .favorite-movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .favorite-movie-card {
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .favorite-movie-card img {
    width: 100%;
    border-bottom: 2px solid #f40612;
  }
  
  .favorite-movie-card:hover {
    transform: scale(1.05);
  }
  .movie-details {
    padding: 10px;
  }
  
  .remove-favorite-btn {
    background-color: #f40612;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
  }
  