.footer {
    background-color: #141414;
    color: #b3b3b3;
    font-size: 14px;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .footer-links-left,
  .footer-links-center,
  .footer-links-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0 20px;
  }
  
  .footer-links-left li,
  .footer-links-center li,
  .footer-links-right li {
    margin: 5px 0;
  }
  
  .footer-links a {
    color: #b3b3b3;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #e50914;
  }
  
  .footer-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social-icon {
    margin: 0 15px;
    color: #b3b3b3;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: #e50914;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 12px;
    color: white;
  }
  